 body{
   background-image: linear-gradient(-225deg, #9b2f6c 0%, #562B7C 52%, #2B86C5 100%);}
 .dom{
   margin-top: 120px;
   position: absolute;
  }
 .his{
   margin-top: 120px;
   position: absolute;
 }
.cl {
   margin-top: 120px;
   position: absolute;
}
.vd {
   margin-top: 120px;
   position: absolute;
}
.com{
   margin-top: 120px;
   position: absolute;
}

 .h1{
    color: white;
    text-align: center;
 }
.h2{
    color: rgb(195, 175, 204);
    text-decoration: dotted55;
 }
 .p{
    color: rgb(209, 180, 180);
 }
 .h3{
    color: rgb(162, 189, 177);
 }
 .ol>li{
    color: rgb(190, 168, 182);
 }
 .ul>li{
   color: aliceblue;
 }
 .props{
   text-align: left;
 }
 /* .dom{
    background-image: url("picofdom.jpg");
    
 }
 .his{
    background-image: url("ReactJS-History-1024x576.png");
 }
 .vd{
    background-image: url("0__C52yYMRTDuMtdBA.png");
 } */
